  html {
    font-family: sans-serif; text-align: center
    
}
body {
    display: inline-block; 
    background-color: lightblue;

}
p    {
    color: rebeccapurple;
    text-align: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
label, legend {
    font-weight: bold
}
*:required, .obligatorio {border: thin solid blue}
input[type=number], .numero {text-align: right}
.error {color:red}

input {
    width: 100%;
  }
